@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout-Software-Index.cshtml";
    List<MedicareNetworksCommon.Models.Employee.RoleType> roletype = ViewData["RoleTypes"] as List<MedicareNetworksCommon.Models.Employee.RoleType>;
    List<MedicareNetworksCommon.Models.Dashboard.Module> Modules = ViewData["AllModules"] as List<MedicareNetworksCommon.Models.Dashboard.Module>;
}

<h2>Add Employee</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="panel-body">
                    <form role="form" class="form-horizontal" method="post" action="/Employee/AddEmployee">
                        <input type="hidden" id="empID" name="empID" value="0" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtName">
                                Name											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtName" name="txtName" class="form-control" type="text" title="" placeholder="Name">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtFatherName">
                                Father Name											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtFatherName" name="txtFatherName" class="form-control" type="text" title="" placeholder="Father Name">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtReligion">
                                Religion
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtReligion" name="txtReligion" class="form-control" type="text" title="" placeholder="Religion">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtNationality">
                                Nationality										
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtNationality" name="txtNationality" class="form-control" type="text" title="" placeholder="Nationality">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtDateofBirth">
                                Date of Birth
                            </label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input id="txtDateofBirth" name="txtDateofBirth" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtCNIC">
                                CNIC											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtCNIC" name="txtCNIC" class="form-control" type="text" title="" placeholder="CNIC">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtMobileNumber">
                                Mobile Number											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtMobileNumber" name="txtMobileNumber" class="form-control" type="text" title="" placeholder="Mobile Number">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtAddress">
                                Address											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtAddress" name="txtAddress" class="form-control" type="text" title="" placeholder="Address">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtUserName">
                                User Name											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtUserName" name="txtUserName" class="form-control" type="text" title="" placeholder="User Name">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="txtPassword">
                                Password										
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <input id="txtPassword" name="txtPassword" class="form-control" type="text" title="" placeholder="Password">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ddlRoleType">
                                Role Type											
                            </label>
                            <div class="col-sm-6">
                                <span class="input-icon">
                                    <select id="ddlRoleType" name="ddlRoleType" class="form-control">
                                        @foreach (var item in roletype)
                                        {
                                            <option value="@item.RoletypeID">@item.Role</option>
                                        }
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ddlRoleType">
                                Assign Modules
                            </label>
                            <div class="col-sm-6">
                                @foreach (var item in Modules)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="@item.ModueID" class="grey" name="Modulescheckbox">
                                        @item.ModuleName
                                    </label>
                                }
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="AddEmployee">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
