@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Medi Care Networks</title>
    <link rel="shortcut icon" type="image/png" href="/_include/img/favicon.ico" />

    <meta name="description" content="Insert Your Site Description" />

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

    <!-- Bootstrap -->
    <link href="/_include/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="/_include/css/main.css" rel="stylesheet">

    <!-- Supersized -->
    <link href="/_include/css/supersized.css" rel="stylesheet">
    <link href="/_include/css/supersized.shutter.css" rel="stylesheet">

    <!-- FancyBox -->
    <link href="/_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

    <!-- Font Icons -->
    <link href="/_include/css/fonts.css" rel="stylesheet">

    <!-- Shortcodes -->
    <link href="/_include/css/shortcodes.css" rel="stylesheet">

    <!-- Responsive -->
    <link href="/_include/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/_include/css/responsive.css" rel="stylesheet">

    <!-- Supersized -->
    <link href="/_include/css/supersized.css" rel="stylesheet">
    <link href="/_include/css/supersized.shutter.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#">

    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="144x144" href="#">

    <!-- Modernizr -->
    <script src="/_include/js/modernizr.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'Insert Your Code']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- End Analytics -->

</head>

<body>

    <!-- This section is for Splash Screen -->
    <div class="ole">
        <section id="jSplash">
            <div id="circle"></div>
        </section>
    </div>
    <!-- End of Splash Screen -->

    <!-- Homepage Slider -->
    <div id="home-slider">
        <div class="overlay"></div>

        <div class="slider-text">
            <!--<img src="/_include/img/mcn3.png" alt="Medi-Care Networks" title="Medi-Care Networks"/>-->
            <br>
            <br>
            <br>

            <h1 style="font-weight: bold;">Medi Care Network</h1>
            <!--<strong>
                <h6>And also in General Medical Equipment, Anaesthesia machine ventilators and Surgical items</h6>
            </strong>-->
        </div>

        <div class="control-nav">
            <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
            <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
            <ul id="slide-list"></ul>

            <a id="nextsection" href="#about"><i class="font-icon-arrow-simple-down"></i></a>
        </div>
    </div>
    <!-- End Homepage Slider -->

    <!-- Header -->
    <header>
        <div class="sticky-nav">
            <a id="mobile-nav" class="menu-nav" href="#about"></a>

            <div id="logo">
                <a href="#home-slider" title="Medi Care Networks">Medi Care Network</a>
            </div>

            <nav id="menu">
                <ul id="menu-nav">
                    <li class="current"><a href="#home-slider">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <!--<li><a href="#products">Products</a></li>-->
                    <li><a href="#service">Services</a></li>
                    <li><a href="#Clients">Clients</a></li>
                    <li><a href="#gal">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#twitter-feed">Find us</a></li>

                </ul>
            </nav>

        </div>
    </header>
    <!-- End Header -->

    <!-- About Section -->
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">About Us</h2>
                        <h3 class="title-description">Medi Care Network Specially Deals in Medical gases and pipeline system 
                            <p style="font-size: 14px;">And also in General Medical Equipment, Anaesthesia machine ventilators and Surgical items</p>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- People -->
            <div class="row">

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Something About
                                <br />
                                Medi Care Network</span>
                        </div>
                        <img src="/_include/img/about_us.jpg" alt="About us">
                        <!--<img src="/_include/img/profile/profile-01.jpg" alt="John Doe">-->
                    </div>
                    <h3 class="profile-name">WHO ER ARE?</h3>
                    <p class="profile-description">
                        Founded and established in 2005, Hospital Pipeline Installations has consistently grown year on year to it's current status as Leading Piped Medical Gas Installer in Pakistan for nearly 10 years. 
			The success of the company is based mainly on the experience, technical abilities and quality workmanship possessed.
                    </p>
                    <p class="profile-description">
                        We have full Professional Indemnity Insurance and Employers and Products Liability Assurance. 
			We are registered with Pakistan Engineering Council (PEC).
                    </p>
                    <p class="profile-description">We have been awarded severally for Health & Safety award whilst carry out the entire Medical Gas installations</p>
                    <p class="profile-description">To gain a further foothold in the field, we are looking to have branches in different cities all over Pakistan and have recently completed various piped Medical Gas Installation's as well as offering complete Maintenance services.</p>
                    <h5>Thriving through diversity</h5>
                    <p class="profile-description">
                        Diversity results in enriched collaboration and enhanced solutions. Medicare Network strongly believes that the diversity of our employees, 
			their capabilities, our range of activities help us to understand the issues and pressures within healthcare, and to meet our customers’ evolving needs.
                    </p>

                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Let's share
                                <br />
                                What are our Missions</span>
                        </div>
                        <img src="/_include/img/mission.jpg" alt="Our Mission">
                    </div>
                    <h3 class="profile-name">MISSION</h3>
                    <p class="profile-description">Mission of Medicare Network is always to help our customers to achieve and maintain the highest standards in healthcare.</p>
                    <p class="profile-description">Working closely with customers for over 10 years, we have always risen to challenges in our pursuit of excellence. Our insight into the issues that shape the reality of our customers drives us to deliver breakthrough products and outstanding services.</p>
                    <h5>Customer Care</h5>
                    <p class="profile-description">Our customers are the reason we exist and are central to our current and future success. Medicare Network aims to innovate in every area of our business in order to retain existing customers, attract new customers and enter new markets.</p>
                    <h5>A passion to excel</h5>
                    <p class="profile-description">We have the commitment and drive to pursue ever-higher standards through continuous improvement and commitment. Medicare Network strives for excellence, with the aim of improving every aspect of our organisation, processes and operations.</p>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">You are most
                                <br />
                                important for us</span>
                        </div>
                        <img src="/_include/img/careofyou.jpg" alt="Your Care">
                    </div>
                    <h3 class="profile-name">YOUR CARE</h3>
                    <p class="profile-description">Medicare Network is a trusted partner of healthcare providers meeting the clinical needs of their patients, both in hospital and the community. We develop specialist services to improve the patient health.</p>
                    <p class="profile-description">An ageing population and a rising prevalence of chronic disease mean that healthcare services are under increasing pressure. Our aim is to help healthcare professionals to provide patient-focused services that are both clinically beneficial and cost effective.</p>
                    <p class="profile-description">In emergency care, our installation of medical gas pipeline provide immediate life support and enable other life-saving procedures</p>
                    <p class="profile-description">In clinical care, our gases are used throughout the hospital, supporting patients in their journey from diagnosis to treatment.</p>
                    <h5>Empowering Staff</h5>
                    <p class="profile-description">Our people are given the space to contribute and grow. Medicare Network believes in empowering our staff because capable and responsible people create success, both for our customers and our company.</p>

                </div>
                <!-- End Profile -->

            </div>
            <!-- End People -->
        </div>
    </div>
    <!-- End About Section -->

    <!-- Services Section -->
    <div id="service" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Services</h2>
                        <h3 class="title-description">We serve our best for your satisfaction</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- People -->
            <div class="row">

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Medical Gas Pipeline
                                <br />
                                System</span>
                        </div>
                        <img src="/_include/img/profile/serv1.jpg" alt="Medical Gas Pipeline System">
                    </div>
                    <h3 class="profile-name">Medical Gas Pipeline System</h3>
                    <p class="profile-description">Medical piped gas systems in hospitals, and most other healthcare facilities, are essential for supplying piped oxygen, nitrous oxide, nitrogen, carbon dioxide and medical air to various parts of the hospital. These systems are usually highly monitored by various computerized alarm systems.</p>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Surgical Equipments</span>
                        </div>
                        <img src="/_include/img/profile/serv2.jpg" alt="Surgical Equipments">
                    </div>
                    <h3 class="profile-name">Surgical Equipments</h3>
                    <p class="profile-description">
                        The expression surgical instrumentation is somewhat interchangeably used with surgical instruments,
			but its meaning in medical jargon is really the activity of providing assistance to a surgeon with the proper handling of surgical instruments during an operation, by a specialized professional, usually a surgical.
                    </p>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <!-- /_include thumb tex here -->
                            <span class="overlay-text-thumb">Anaesthesia Ventilators</span>
                            <!-- End of /_include thumb tex here -->
                        </div>
                        <img src="/_include/img/profile/serv3.jpg" alt="Anaesthesia Ventilators">
                    </div>
                    <h3 class="profile-name">Anaesthesia Ventilators</h3>
                    <p class="profile-description">
                        Anaesthesia ventilators are an integral part of all modern anaesthesia workstations.
			Automatic ventilators in the operating rooms, which were very simple with few modes of ventilation when introduced, have become very sophisticated with many advanced ventilation modes.
                    </p>
                </div>
                <!-- End Profile -->

            </div>
            <!-- End People -->
        </div>
    </div>
    <!-- End Services Section -->

    <!-- Client Section -->
    <div id="Clients" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Clients</h2>
                        <h3 class="title-description">Our reliable and most important Client's.</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- Client List -->
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <section id="ClientsSection">
                            <ul id="Clientsthumbs">

                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span3 clients">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Patel Hospital</span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="/_include/img/work/thumbs/clients/image1.png" alt="We are on Work">
                                </li>
                                <!-- End Item Project -->
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Pakistan Rangers</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image2.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">South City Hospital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image3.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Tabba Heart Institute</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image4.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Indus Hospital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image5.png" alt="Our Products">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Ziauddin Hospital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image6.png" alt="We are on Work">
                                </li>

                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Agha Khan University Hospital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image7.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Children Cancer Foundation</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image8.png" alt="Our products">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Civil Hospital Karachi</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image9.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Hamdard University</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image10.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Nazeer Hussaini</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image11.png" alt="We are on Work">
                                </li>

                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Liaquat National Hospital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image12.png" alt="Our products">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Tahir Medical Centre</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image15.png" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 clients">
                                    <a class="hover-wrap" data-fancybox-group="Clients" title="" href="#Clients">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb">Memon Medical HOspital</span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/clients/image14.png" alt="We are on Work">
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
            <!-- End Client List -->
        </div>
    </div>
    <!-- End Client Section -->

    <!-- Gallery Section -->
    <div id="gal" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Gallery</h2>
                        <h3 class="title-description">Let's share some Memories</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- Portfolio Projects -->
            <div class="row">
                <div class="span3">
                    <!-- Filter -->
                    <nav id="options" class="work-nav">
                        <ul id="filters" class="option-set" data-option-key="filter">
                            <li class="type-work">Categories</li>
                            <!--<li><a href="#filter" data-option-value="*" class="selected">All Images</a></li>-->
                            <li><a href="#filter" data-option-value=".onwork">On Work</a></li>
                            <li><a href="#filter" data-option-value=".workabroad">Work Abroad</a></li>
                            <li><a href="#filter" data-option-value=".products">Products</a></li>
                        </ul>
                    </nav>
                    <!-- End Filter -->
                </div>

                <div class="span9">
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs">

                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span3 onwork">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image1.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="/_include/img/work/thumbs/onwork/image1.jpg" alt="We are on Work">
                                </li>
                                <!-- End Item Project -->
                                <li class="item-thumbs span3 products">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/products/image1.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/products/image1.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 workabroad">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/workabroad/image1.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/workabroad/image1.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 onwork">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image2.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/onwork/image2.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 products">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/products/image2.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/products/image2.jpg" alt="Our Products">
                                </li>
                                <li class="item-thumbs span3 workabroad">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/workabroad/image2.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/workabroad/image2.jpg" alt="We are on Work">
                                </li>

                                <li class="item-thumbs span3 onwork">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image3.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/onwork/image3.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 products">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/products/image3.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/products/image3.jpg" alt="Our products">
                                </li>
                                <li class="item-thumbs span3 onwork">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image4.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/onwork/image4.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 workabroad">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/workabroad/image3.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/workabroad/image3.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 onwork">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image5.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/onwork/image5.jpg" alt="We are on Work">
                                </li>

                                <li class="item-thumbs span3 products">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/products/image4.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/products/image4.jpg" alt="Our products">
                                </li>
                                <li class="item-thumbs span3 workabroad">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/workabroad/image4.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/workabroad/image4.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 onwork">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/onwork/image6.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/onwork/image6.jpg" alt="We are on Work">
                                </li>
                                <li class="item-thumbs span3 products">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/products/image5.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/products/image5.jpg" alt="Our products">
                                </li>
                                <li class="item-thumbs span3 workabroad">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="/_include/img/work/full/workabroad/image5.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <img src="/_include/img/work/thumbs/workabroad/image5.jpg" alt="We are on Work">
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
            <!-- End Portfolio Projects -->
        </div>
    </div>
    <!-- End Gallery Section -->

    <!-- Contact Section -->
    <div id="contact" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Get in Touch</h2>
                        <h3 class="title-description">We are waiting for you</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- Contact Form -->
            <div class="row">
                <div class="span9">

                    <form id="contact-form" class="contact-form" action="/_include/php/contact.php" method="post">
                        <p class="contact-name">
                            <input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
                        </p>
                        <p class="contact-email">
                            <input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
                        </p>
                        <p class="contact-message">
                            <textarea id="contact_message" placeholder="Your Message" name="message" rows="10" cols="40"></textarea>
                        </p>
                        <p class="contact-submit">
                            <a id="contact-submit" class="submit" href="">Send Message</a>
                        </p>

                        <div id="response">
                        </div>
                    </form>

                </div>

                <div class="span3">
                    <div class="contact-details">
                        <h3>Contact Details</h3>
                        <ul>
                            <li><a href="#">info@medicarenetworks.com</a></li>
                            <li>(92) 21-36611352</li>
                            <li>Medicare Networks
                        <br>
                                3-H-1/15 Gol Market, Nazimabad # 3
                        <br>
                                Karachi, Pakistan
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- End Contact Form -->
        </div>
    </div>
    <!-- End Contact Section -->

    <!-- Map -->
    <div id="twitter-feed" class="page-alternate">
        <div class="container">

            <div class="row">
                <h1>Find Medi Care Network</h1>
                <!-- Google Map -->
                <iframe frameborder="0" scrolling="no" marginheight="1" marginwidth="1" width="95%" height="300"
                    src="https://maps.google.com/maps?hl=en&q=Medi Care Networks Nazimabad Karachi Pakistan&ie=UTF8&t=satellite&z=17&iwloc=B&output=embed"></iframe>
                <!--End of Google Map -->



            </div>
        </div>
    </div>
    <!-- End of Map -->

    <!-- Socialize -->
    <div id="social-area" class="page">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav id="social">
                        <ul>

                            <li><a href="https://www.facebook.com/medicarenetworks/?fref=ts" title="Follow us on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Socialize -->

    <!-- Footer -->
    <footer>
        <p class="credits">Copyright <a href="#home-slider" title="Medi Care Networks">Medi Care Network</a> | 2015-2016</p>
    </footer>
    <!-- End Footer -->

    <!-- Back To Top -->
    <a id="back-to-top" href="#">
        <i class="font-icon-arrow-simple-up"></i>
    </a>
    <!-- End Back to Top -->


    <!-- Js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- jQuery Core -->
    <script src="/_include/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <script src="/_include/js/supersized.3.2.7.min.js"></script>
    <!-- Slider -->
    <script src="/_include/js/waypoints.js"></script>
    <!-- WayPoints -->
    <script src="/_include/js/waypoints-sticky.js"></script>
    <!-- Waypoints for Header -->
    <script src="/_include/js/jquery.isotope.js"></script>
    <!-- Isotope Filter -->
    <script src="/_include/js/jquery.fancybox.pack.js"></script>
    <!-- Fancybox -->
    <script src="/_include/js/jquery.fancybox-media.js"></script>
    <!-- Fancybox for Media -->
    <script src="/_include/js/jquery.tweet.js"></script>
    <!-- Tweet -->
    <script src="/_include/js/plugins.js"></script>
    <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <script src="/_include/js/main.js"></script>
    <!-- Default JS -->
    <!-- End Js -->
    <script type="text/javascript">
        setTimeout(function () {
            $('#options .option-set').find('a:first').click();
        }, 2500);
    </script>
</body>
</html>
