@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout-Software-Index.cshtml";
}

<h2>Edit User</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="panel-body">
                    <form role="form" class="form-horizontal">
                        <h5 class="space15">User Credentials </h5>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-1">
                                First Name
											
                            </label>
                            <div class="col-sm-4">
                                <span class="input-icon">
                                    <input id="form-field-1" class="form-control tooltips" type="text" data-placement="top" title="" placeholder="First Name" data-rel="tooltip" data-original-title="Enter First Name">
                                    <i class="fa fa-hand-o-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-2">
                                Last Name
											
                            </label>
                            <div class="col-sm-4">
                                <span class="input-icon">
                                    <input id="form-field-2" class="form-control tooltips" type="text" data-placement="top" title="" placeholder="Last Name" data-rel="tooltip" data-original-title="Enter Last Name">
                                    <i class="fa fa-hand-o-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-3">
                                User Name
											
                            </label>
                            <div class="col-sm-4">
                                <span class="input-icon">
                                    <input id="form-field-3" class="form-control tooltips" type="text" data-placement="top" title="" placeholder="User Name" data-rel="tooltip" data-original-title="Enter User Name">
                                    <i class="fa fa-hand-o-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-4">
                                Password
											
                            </label>
                            <div class="col-sm-4">
                                <span class="input-icon">
                                    <input id="form-field-4" class="form-control tooltips" type="text" data-placement="top" title="" placeholder="Password" data-rel="tooltip" data-original-title="Enter Password">
                                    <i class="fa fa-hand-o-right"></i>
                                </span>
                            </div>
                        </div>


@*                        <h5 class="space15">Is this user an Employee ? </h5>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" value="" name="optionsRadios" class="grey">
                                Yes
									
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="" name="optionsRadios" class="grey">
                                No
									
                            </label>
                        </div>*@

                        <h5 class="space15">Assign Areas to this User </h5>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" class="grey">
                                Admin
									
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" class="grey">
                                Quotation
                            </label>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Update									
                        </button>
                        <button type="button" onclick="location.href='@Url.Action("UserList", "Admin")'"  class="btn btn-primary">
                            Cancel
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



